<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MagoArab_OrderStatusPermissions::order_status_management" 
             title="Order Status Permissions" 
             module="MagoArab_OrderStatusPermissions" 
             sortOrder="50" 
             parent="Magento_Sales::sales_operation" 
             action="adminhtml/system_config/edit/section/sales_order_status_permissions" 
             resource="MagoArab_OrderStatusPermissions::order_status_management"/>
    </menu>
</config>