<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sales" translate="label" sortOrder="300">
            <label>Sales</label>
        </tab>
        <section id="sales_order_status_permissions" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Status Permissions</label>
            <tab>sales</tab>
            <resource>MagoArab_OrderStatusPermissions::order_status_management</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Order Status Permissions module.</comment>
                </field>
                <field id="log_actions" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Permission Actions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Log permission checks and status filtering operations.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced Settings</label>
                <field id="hide_forbidden_orders" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Hide Forbidden Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to Yes, orders with statuses the user doesn't have permissions for will be hidden completely. If set to No, they will show but access will be restricted.</comment>
                    <depends>
                        <field id="sales_order_status_permissions/general/enabled">1</field>
                    </depends>
                </field>
                <field id="include_admin_users" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Apply to Admin Users</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to Yes, even users with admin role will have their order status permissions checked.</comment>
                    <depends>
                        <field id="sales_order_status_permissions/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>